<div class="col-lg-4 product-box space">
    <%= link_to clients_product_path(product) do %>
    <div class="row">
        <h4><%= product.name %></h4>
    </div>
    <div class="row">
        <%= attachment_image_tag(product, :image, :fill, 220, 180, fallback:  'no_img.jpg') %>
    </div>
    <% end %>
    <div class="row">
        <h4><%= product.price %></h4>
    </div>
</div>