<div class="container">
	<div class="row">
		<div class="com-md-10">
			<div class="text-center" style="padding:10px;">
				<h1><strong>About</strong></h1>
			</div>
			<div class="text-center">
				<h3>
					ながのCakeは全国発送可能なケーキ屋さんです。<br><br>
					お子様からお年寄りの方までお召し上がりいただけるよう、<br><br>
					様々なバリエーションをご用意しております。<br><br>
					また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
					ぜひご注文ください。<br><br>
				</h3>
			</div>
		</div>
	</div>
</div>