<div class="form-body">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-5">
				<div class="box2">
					<h3><span>会員一覧</span></h3>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				<table class="table table-bordered">
					<thead>
						<tr class="active">
							<th>会員ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>ステータス</th>
						</tr>
					</thead>
					<tbody>
						<% @clients.each do |client| %>
						<tr>
							<td><%= client.id %></td>
							<td><%= link_to client.last_name + " " + client.first_name, admins_client_path(client.id) %></td>
							<td><%= client.email %></td>
							<% if client.is_deleted == false %>
								<td>有効会員</td>
							<% else %>
								<td>退会済み</td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
